<html>

<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
    <div>
        <form method="post" >
            <input type="text" name="text" placeholder="add your story"/>
            <input type="text" name="tag" placeholder="tag"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit">Add</button>
        </form>
    </div>

    <div>List of your stories</div>
    <form method="post" action="filter">
        <input type="text" name="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Find</button>
    </form>
    {{#notes}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        <div>
            <form method="put">
                <input type="text" name="text" placeholder="edit your story"/>
                <input type="text" name="tag" placeholder="edit the tag"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <button type="submit">Edit</button>
            </form>
        </div>
        <div>
            <form method="delete">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <button type="submit">Delete</button>
            </form>
        </div>

    </div>
    {{/notes}}
</body>
</html>